body{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  margin: auto;
  gap: 50px;
}

h1{
  font-family: "Athena",serif;
  font-size: 5vh;
}

.inputBox{
  position: relative;
  width: 325px;
  font-family: Arial, Helvetica, sans-serif;
}

.inputBox input{
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  background-color: inherit;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
}

.inputBox span{
  position: absolute;
  left: 0;
  padding:10px;
  color: inherit;
  font-size: 1em;
  pointer-events: none;
  text-transform: uppercase;
  transition: 0.5s;
}

/* .inputBox input:valid ~ span,
.inputBox input:focus ~ span{
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: inherit;
  color: aquamarine;
  border: aquamarine;
} */
